
/* Just to be safe.  Prevent overflow outside of area.   */
img, embed,
object, video {
  max-width: 100%;
}


/*  13.6 */

@media screen and (min-width: 0px) and (max-width: 400px) {
        body { background-color: red; }
      }
@media screen and (min-width: 401px) and (max-width: 599px) {
        body { background-color: green; }
      }
@media screen and (min-width: 600px) {
        body { background-color: blue; }
      }

/* 13.11 */
/* Media query as another stylesheet */
<link rel="stylesheet" media="screen and (min-width: 700px)" href="weather-large.css">


/* 13.17 */

/* This will wrap to the next line, and only resize the container when needed  */

.container {
  display: flex;
  flex-wrap: wrap;
}


/* 13.18 flex box order  */

@media screen and (min-width: 700px) {
  .dark_blue { order: 4; }
  .light_blue { order: 5; }
}

/* 14.3 adding margins to the side, mostly fluid */

@media screen and (min-width: 550px) {
  .green, .red, .orange {
    width: 33.333333%;
  }
}

@media screen and (min-width: 700px) {
  .container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
