@media screen and (min-width: 601px) {
  .mobile_menu {
    display: none;
  }
}


@media screen and (max-width: 600px) {
  /* hamburger menu */

  .mobile_menu {
    display: none;
    margin-left: 80%;
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .nav__list {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
  }

  .hamburger .line {
    width: 35px;
    height: 5px;
    display: block;
    margin-left: 80%;
    background-color: black;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .hamburger:active .line:nth-child(2) {
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -o-opacity: 0;
  }

  .hamburger:active .line:nth-child(1) {
    transform: translateY(13px);
    -moz-transition: translateY(13px);
    -webkit-transition: translateY(13px);
    -o-transition: translateY(13px);
  }

  .hamburger:active .line:nth-child(3) {
    transform: translateY(-13px);
    -moz-transition: translateY(-13px);
    -webkit-transition: translateY(-13px);
    -o-transition: translateY(-13px);
  }


  /* .hamburger:hover .line:nth-child(2) {
    width: 35px;
  } */

}
